.main {
  flex: 1;
  height: 100vh;
  /* padding-bottom: 15vh; */
  position: relative;
  background: #4a90e2;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}

.main .nav p {
  color: #fff;
}
.main .nav img {
  width: 40px;
  border-radius: 50%;                                                     
}
.main .main-container {
  max-width: 900px;
  margin: auto;
}
.main .greet {
  margin: 50px 0px;
  font-size: 56px;
  color: #c4c7c5;
  padding: 20px;
  text-align: center;
  background: #fff;
  border-radius:15px;
}
.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .cards {
  display: grid;
  margin-top: -3rem;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}
.main .cards .card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}
.main .card p {
  color: #585858;
  font-size: 17px;
}
.main .card:hover {
  background-color: #dfe4ea;
}
.main .main-bottom {
  position: absolute;

  bottom: 0;

  width: 100%;

  max-width: 900px;

  padding: 0px 20px;

  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding:5px 20px;
  border-radius: 50px;
}
.search-box img {
  width: 24px;
  cursor: pointer;
}
.search-box input {
  flex: 1;
  background: transparent;
  outline: none;
  border: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}
.main .left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}
.left-nav {
  position: relative;
  display: inline-block;
}

.custom-drop-down {
  position: absolute;
  background-color: white;
  /* border: 1px solid #ccc; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 100%;
  width: 100%;
  min-width: 300px;
}

.custom-drop-down ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main .title {
  font-weight: 700;
  font-size:1rem;
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width:100%;
}

.spinner {
  width: 80px;
  height: 80px;
  border:5px solid rgba(0, 0, 0, 0.1);
  border-top:5px solid #3498db;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-drop-down li {
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 2px solid #4a90e2;
}

.custom-drop-down li:hover {
  background-color: #4a90e2;
  color: #fff;
}

.main .left-nav span {
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;

  transition: all 0.5s;
}
.main .left-nav span.active {
  transform: rotate(180deg);
}
/* .main .main-bottom .search-box{
  margin-top:4rem;
} */
.result {
  padding: 0px 5%;
  max-height: 70vh;
  margin-top: -20px;
  overflow-y: scroll;
  background: #f7f9fc;
}
.result::-webkit-scrollbar {
  display: none;
}
.result .result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.result img {
  width: 40px;
  border-radius: 50%;
}
.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}
.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f2f8;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .main-bottom {
    margin-top: 30px;
  }
  .main-bottom input {
    flex: none;

    width: 150px;
  }
  .main-bottom img {
    width: 20px;
  }
  .gemini-icon{
    display:none;
  }

  .main .greet{
    font-size:45px;
  }

  .search-box {
    padding: 5px 10px;
    margin-top: 30px;
  }

  .custom-drop-down{
    min-width:150px;
  }

  .search-box div {
    gap: 5px;
  }
  
}
